# User-specific stuff:
.idea/
*.swp

## Plugin-specific files:

/resplat/local_settings.py
/heat/dan.sh
/heat/environment.yaml
/media/report_graph/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
