# the requirements to run the system in production
django
psycopg2    # http://initd.org/psycopg/docs/install.html ?
docutils    # for admin docs
django-import-export
# matplotlib


#other
coverage==3.6
