{% extends "admin/base_site.html" %}

{% block extrastyle %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'storage/app.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.css"/>
{% endblock %}

{# Title is provided by the context #}

{% block content %}
    <h3>A total of {{ for_report_list | length }} FOR codes</h3>
    <div class="for_code_ingest_section">
        <div class="for_code_left">
            <table border=0 cellspacing=3 cellpadding=3>
                <tr class='row_thick'>
                    <td width="17%">FOR code</td>
                    <td width="58%">Description</td>
                    <td width="25%">Ingested Size (TB)</td>
                </tr>
                {% for  ingest in for_report_list %}
                    <tr>
                        <td> {{ ingest.for_code }} </td>
                        <td> {{ ingest.code_desc }}</td>
                        <td class="col_right"> {{ ingest.get_for_code_ingest_size|floatformat:4 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id='chart' class='chart-wrapper, for_code_right'
             style="height: 50em;">
            <svg></svg>
        </div>
{#        <div style="clear:both"></div>#}
        <script src="//d3js.org/d3.v3.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.js"></script>
        <script>
            'use strict';
            let data = {{ for_percents | safe | default:'[]' }};
            nv.addGraph(
                function () {
                    let chart = nv.models.multiBarHorizontalChart()
                        .x(function (d) {
                            return d.code
                        })
                        .y(function (d) {
                            return d.percentage
                        })
                        .margin({top: 30, right: 20, bottom: 50, left: 175})
                        .showValues(true)
                        .duration(350)
                        .showControls(false);

                    chart.xAxis.axisLabel('FOR code');
                    chart.yAxis.axisLabel('Ingested Size (TB)');
                    chart.yAxis.tickFormat(d3.format(',.2f'));
                    chart.barColor(function (d, i) {
                            const colors = d3.scale.category20c().range();
                            return colors[i % colors.length - 1];
                        }
                    );
                    chart.tooltip.contentGenerator(function (data) {
                        const for_code = data["data"];
                        return '<p><strong>' + for_code.code + ' ' +
                            for_code.description + '</strong></p>';
                    });

                    d3.select('#chart svg')
                        .datum(data)
                        .call(chart);

                    nv.utils.windowResize(chart.update);

                    return chart;
                }
            )
        </script>
    </div>
{% endblock content %}