{% extends "admin/base_site.html" %}

{% block title %}Total VicNode Ingest Over Time{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'storage/app.css' %}"/>
{% endblock %}

{% block content %}
    {% if ingest_not_found %}
        <h1>Total VicNode Ingest Over Time</h1>
        <br/>
        <p>Ingest Data Not Found </p>
    {% else %}
        <h1>Total VicNode Ingest Over Time ({{ start_date }} - {{ end_date }})</h1>
        <br/>
        <div class="ingest_sp_time_section">
            <div class="ingest_sp_time_left">
                <table border='0' cellspacing='3' cellpadding='3'>
                    <tr class='row_thick'>
                        <td width="10%">No.</td>
                        <td width="30%">Storage Product</td>
                        <td width="60%">Ingested Size (TB)</td>
                    </tr>
                    {% for  sp_ingest in sp_ingest_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td> {{ sp_ingest.sp_name }} </td>
                            <td class="col_right"> {{ sp_ingest.total_size|floatformat:4 }}</td>
                        </tr>
                    {% endfor %}
                    <tr class='row_thick col_right'>
                        <td colspan="2">Total:</td>
                        <td>{{ total_size|floatformat:4 }}</td>
                    </tr>
                </table>
            </div>
            <div class="ingest_sp_time_right">
                <img src="/media{{ image }}">
            </div>
            <div style="clear: both"></div>
        </div>
    {% endif %}
{% endblock content %}