{% extends 'admin/change_form.html' %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.css"/>
{% endblock %}

{% block content_title %}
    <h1>Change my collection</h1>
{% endblock %}

{% block after_field_sets %}
    {% if ingests_in_time_order %}
        <div id='chart' class='chart-wrapper'>
            <svg></svg>
        </div>
        <script src="//d3js.org/d3.v3.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.js"></script>
        <script>
            'use strict';
            let dayList = [];
            let used = [];
            let allocated = [];
            {{ ingests_in_time_order | safe }}.forEach((elem) => {
                const day = elem['extraction_date'];
                // we don't want duplicate dates...
                if (dayList[dayList.length - 1] !== day) {
                    dayList.push(day);
                }

                function recordElement(target, key) {
                    if (!target[elem['storage_product']]) {
                        target[elem['storage_product']] = [];
                    }
                    target[elem['storage_product']].push({
                        x: dayList.length,
                        y: elem[key]
                    });
                }

                recordElement(used, 'used_capacity');
                recordElement(allocated, 'allocated_capacity');
            });
            // colours from d3.scale.category20c ...
            const colours = [3244733, 7057110, 10406625, 13032431, 15095053,
                16616764, 16625259, 16634018, 3253076, 7652470, 10607003,
                13101504, 7695281, 10394312, 12369372, 14342891, 6513507,
                9868950, 12434877, 14277081].map(x => d3.rgb("#" + x.toString(16)));
            let storageProducts = [];
            storageProducts[1] = {name: 'Computational', c1: 2, c2: 0};
            storageProducts[4] = {name: 'Market', c1: 6, c2: 4};
            storageProducts[10] = {name: 'Vault', c1: 10, c2: 8};
            storageProducts[23] = {name: 'Market Mediaflux', c1: 14, c2: 12};
            storageProducts[24] = {name: 'Market Gluster', c1: 18, c2: 16};
            storageProducts[3] = {name: 'Computational.Monash', c1: 1, c2: 3};
            storageProducts[6] = {name: 'Market.Monash', c1: 7, c2: 5};
            storageProducts[11] = {name: 'Vault.Monash', c1: 11, c2: 9};
            storageProducts[14] = {name: 'Market.Monash.Obj.', c1: 15, c2: 13};
            storageProducts[22] = {name: 'Market.Monash.File', c1: 19, c2: 17};

            let data = [];
            storageProducts.forEach((settings, index) => {
                if (used[index]) {
                    let usedArea = {
                        key: settings['name'] + " Used",
                        values: used[index],
                        type: "line", // can be: scatter, area, bar, line, stack
                        yAxis: 1,
                        color: colours[settings['c1']],
                    };
                    data.push(usedArea);
                }
                if (allocated[index]) {
                    const allocatedLine = {
                        key: settings['name'] + " Allocated",
                        values: allocated[index],
                        type: "line", // can be: scatter, area, bar, line, stack
                        yAxis: 1,
                        color: colours[settings['c2']],
                    };
                    data.push(allocatedLine);
                }
            });

            nv.addGraph(function () {
                let chart = nv.models.multiChart()
                    .margin({left: 100, right: 100});

                //customize the tool tip
                chart.tooltip.contentGenerator(function (key, x, y, e, graph) {
                    return "<div class='tooltip'><span>Month:</span> " +
                        dayList[key.point.x] + "</div>" +
                        "<div class='tooltip'><span>Value:</span> " +
                        key.series[0].value +
                        "</div><div class='tooltip'><span>Legend:</span> " +
                        "<div style='background:" + key.series[0].color +
                        ";display:inline-block;height:15px;width:15px;'>&#160;</div></div>";
                });

                {# // charts with this option... #}
                {# // lineChart lineWithFocusChart linePlusBarChart stackedAreaChart stackedAreaWithFocusChart#}
                {# chart.options({focusEnable: true});#}

                //Overwrite the x axis label and replace it with the month name
                chart.xAxis.tickFormat(function (d) {
                    return dayList[d]
                });

                d3.select('#chart svg')
                    .datum(data)
                    .transition()
                    .duration(500)
                    .call(chart);
                return chart;
            });

        </script>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block pagination %}

{% endblock %}