<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ResPlat Storage</title>
</head>
<body>
<div class="container">
    <h2>Tasks</h2>
</div>
<!-- @formatter:off -->
<xmp theme="spruce" style="display:none;">

[Use this application...](resplat)

### In progress

* <a href ="/resplat/stats/collections/">Collections index</a>
* <a href ="/resplat/stats/report">Operation centre ingest file status report</a>
* <a href ="/resplat/stats/collection_status">Collection by status</a>
* <a href ="/resplat/stats/reds_report_all">Andy's UoM report</a>
* <a href ="/resplat/stats/reds_report">ReDS report</a> | <a href ="/resplat/stats/reds_report_uom">UoM only</a>
* <a href ="/resplat/stats/vicnode_funding_by_sp">Vicnode funding report - by storage product</a>
* <a href ="/resplat/stats/vicnode_unfunded">Unfunded report</a> (over allocation/ingested)
* <a href ="/resplat/stats/for_code_ingest_all">Data Ingested Into VicNode Split By 2-Digit FOR Code - All </a> | <a href ="/resplat/stats/for_code_ingest_uom">UoM only</a>
* <a href ="/resplat/stats/total_ingest_over_time">Total ingests over time</a>
* <a href ="/resplat/stats/demographics">Demographics report</a>
* <a href ="/resplat/stats/diff_reported_and_approved"> Difference Between Reported Allocation and Approved Allocation - All</a> | <a href ="/resplat/stats/diff_reported_and_approved/melbourne">UoM only</a>

### To do

* Node connect error report - this is problematic, as it actually is a link to
  a separate email subsystem.
* IDs that were not successfully linked to a vicnode collection
* UoM internal report showing total allocation, ingested and capacity
* View of each product
* Faculty breakdown graph as well showing each product
* Add a persistent handle for each collection (Link)
* Remove label aliases...

### Questions

* Ballarat University is now Federation University. Can we remove Ballarat?

### System Info

* Database: **{{ settings.R_DATABASE }}**
* Database host: **{{ settings.R_DB_HOST }}**

</xmp>
<!-- @formatter:on -->
<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</body>
