<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ResPlat Storage</title>
</head>
<body>
<div class="container">
    <h2>To Do...</h2>
</div>
<!-- @formatter:off -->
<xmp theme="spruce" style="display:none;">

* ~~Bring new Collection profile into the Collection view~~
* Add old Collection Use – Interface information into new collection page
* ~~Include an overall ingest graph with a link to another page that loads
  ingest history~~
* ~~Ballarat University is now Federation University. Can we remove Ballarat?~~

## Reports required

* Operation centre Ingest File status report
* Node Connect Error Report
* IDs that were not successfully linked to a vicnode collection
* Collection by status
* ReDS Report
* UoM internal report showing total allocation, ingested and capacity
* View of each product
* Faculty breakdown graph as well showing each product
* Data Ingested split by 2 Digit FOR code
* Demographics report
* Total ingest over time – better graphs!

</xmp>
<!-- @formatter:on -->
<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</body>
